@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css');
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #2fafe2;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.carousel-float {
  width: 65%;
  position: relative;
}

.top-level-cont,
.top-level-cont-details {
  display: flex;
  flex-direction: column;
}

.card-container {
  width: 35%;
}

.your-bookings {
  float: right;
  height: 100%;
  width: 100%;
}

.your-bookings ul {
  padding: 0px;
  list-style: none;
}

.your-bookings ul li {
  background-color: #ffffff;
  padding: 10px;
  border: solid 1px black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.your-bookings p {
  font-style: italic;
  font-size: 20px;
}

@media only screen and (min-width: 992px) {
  .col-md-4-card {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .top-level-cont {
    flex-direction: row;
  }

  .top-level-cont-details {
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 992px) {
  .carousel-float {
    width: 100%;
    float: left;
  }

  .your-bookings {
    margin: 15px 0px;
    width: 100%;
    float: none;
  }

  .card-container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .col-md-4-card {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card {
    margin: 10px 0px;
  }
}
